body{
    margin:0;
    background: #ebebeb;
    background: radial-gradient(circle,rgba(235, 235, 235, 1) 0%, rgba(168, 168, 168, 1) 100%);

}
.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    gap: 10px;
    margin-top: 200px;
    color: #fff;
    
}
h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
#select{
    text-align: center;
   
}
#select, input, button{
    padding:15px;
    border-radius: 15px;
}
button{
    background: #56E820;
}
button:hover{
    background: #419423;
    cursor: pointer;
}